::selection {
  background-color: #7b9cb8;
  color: rgb(89, 255, 189);
}

::-webkit-scrollbar {
  width: 0.65rem;
}
::-webkit-scrollbar-track {
  background-color: white;
  margin-block: -1.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #7b9cb895;

  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7b9cb8d9;
}

html {
  background: url(../images/blue.svg) no-repeat center center fixed;
  background-size: cover;
  height: 300vh;
}
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Navigation bar */
.navbar {
  position: sticky;
  top: 0;
  left: 0;

  font-size: 1.5rem;
  background-color: white;
  margin: 0;
  padding: 1rem 0;
  z-index: 1;
}
#bars {
  display: none;
  font-size: 2rem;

  padding: 1rem;
}
#bars :hover {
  pointer-events: auto;
}
.linkss {
  opacity: 0;
  color: black;
  padding: 1rem;
  text-decoration: none;
  transition: 0.2s ease;
}
.linkss:hover {
  background-color: #7b9cb875;
  color: black;
}
.linksss {
  opacity: 0;
  color: black;
  padding: 1rem;
  text-decoration: none;
  transition: 0.2s ease;
}
.linksss:hover {
  background-color: #7b9cb875;
  color: black;
}

.nav_lists {
  margin: 0;
  padding: 1rem;
  display: flex;
}

.nav_links {
  list-style-type: none;
  display: flex;
  justify-content: start;
  padding: 0rem;
  margin: 0;
}

.nav_links_section {
  align-self: center;
  padding: 1rem;
}
.nav_links_section:hover {
  background-color: #7b9cb875;
  color: black;
}

#contacts {
  margin: 0;
  transition: 0.2s ease;
}

.contact_box {
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: white;
}
.contact_links {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.contact_links li {
  margin: 1rem;
  display: block;
}

.contact_links li p {
  margin: 0;
}
.contact_links li a i {
  color: black;
  font-size: 3rem;
  margin: 0.5rem;
}
.contact_links li a i:hover {
  color: #658dada6;
  transition: color 0.2s ease;
}

/* header and subHeader */
.title {
  font-weight: bold;

  color: rgba(29, 29, 29, 0.85);
  margin-left: 12.5rem;
  opacity: 0;
}
.title:last-child {
  margin-bottom: 20rem;
}
.title {
  font-weight: bold;

  color: rgba(29, 29, 29, 0.85);
  margin-left: 12.5rem;
  opacity: 0;
}
.main_title {
  font-size: 7rem;
  transition: opacity 1s cubic-bezier(1, 0, 0.27, -0.02);
  margin-top: 10rem;
  margin-bottom: 2.5rem;
  animation-name: title;
  animation-duration: 1s;
}
.sub_title {
  font-size: 4rem;
  transition: opacity 1s cubic-bezier(1, 0, 0.27, -0.02);
  animation-name: subTitle;
  animation-duration: 1.5s;
}
@keyframes title {
  0% {
    margin-left: -10rem;
  }
  100% {
    margin-left: 12.5rem;
  }
}
@keyframes subTitle {
  0% {
    margin-left: -10rem;
  }
  100% {
    margin-left: 12.5rem;
  }
}

/* responsive for navbar and header,subHeader */
@media only screen and (max-width: 1440px) {
  .contact_links {
    font-size: 1rem;
  }
  .navbar {
    font-size: 1.25rem;
  }

  .title {
    margin-left: 7.5rem;
  }
  .main_title {
    font-size: 6rem;
  }
  .sub_title {
    font-size: 3rem;
  }
  @keyframes title {
    0% {
      margin-left: -10rem;
    }
    100% {
      margin-left: 7.5rem;
    }
  }
  @keyframes subTitle {
    0% {
      margin-left: -10rem;
    }
    100% {
      margin-left: 7.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .title {
    margin-left: 5rem;
  }
  .main_title {
    font-size: 5rem;
  }
  .sub_title {
    font-size: 2rem;
  }
  @keyframes title {
    0% {
      margin-left: -10rem;
    }
    100% {
      margin-left: 5rem;
    }
  }
  @keyframes subTitle {
    0% {
      margin-left: -10rem;
    }
    100% {
      margin-left: 5rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }
  #bars {
    display: block;
  }
  .nav_links {
    display: none;
    padding: 0;
    margin: 0;
  }
  .nav_links_section {
    display: block;
  }
  .title {
    margin-left: 2.5rem;
  }
  .main_title {
    font-size: 4rem;
  }
  .sub_title {
    font-size: 2rem;
  }
  @keyframes title {
    0% {
      margin-left: -10rem;
    }
    100% {
      margin-left: 2.5rem;
    }
  }
  @keyframes subTitle {
    0% {
      margin-left: -10rem;
    }
    100% {
      margin-left: 2.5rem;
    }
  }
}

@media (max-width: 400px) {
  .navbar {
    font-size: 1rem;
  }

  .main_title {
    font-size: 3rem;
  }
  .sub_title {
    font-size: 1.5rem;
  }
}
